@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Fraunces%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-bZeWi1PxbxAK: #44403c;
  --plasmic-token-stone-700: var(--token-bZeWi1PxbxAK);
  --token-fkmS_La-z2xp: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-fkmS_La-z2xp);
  --token-Oq8Ed-j2xsW6: 0.5rem;
  --plasmic-token-size-8: var(--token-Oq8Ed-j2xsW6);
  --token-1c_6RWnKuAik: 20px;
  --plasmic-token-primary: var(--token-1c_6RWnKuAik);
  --token-AxGvilwbMKE5: 1.25;
  --plasmic-token-line-height-md: var(--token-AxGvilwbMKE5);
  --token-ARmtdX03Un6F: 100px;
  --plasmic-token-prk-arh: var(--token-ARmtdX03Un6F);
  --token-OuNVKYUcT0MY: #ffffff;
  --plasmic-token-neutral-0: var(--token-OuNVKYUcT0MY);
  --token-dKXJHRqEyb2q: #374151;
  --plasmic-token-neutral-neutral: var(--token-dKXJHRqEyb2q);
  --token-REpzZuENyhBA: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-REpzZuENyhBA);
  --token-_eRu_ROMc9uy: #6b7280;
  --plasmic-token-muted-muted: var(--token-_eRu_ROMc9uy);
  --token-jE1-oBJ6oaB3: 0.25rem;
  --plasmic-token-size-4: var(--token-jE1-oBJ6oaB3);
  --token-KVk6g1ansn3c: 0.75rem;
  --plasmic-token-font-sm: var(--token-KVk6g1ansn3c);
  --token-NWylHUlvSpv2: 1;
  --plasmic-token-line-height-sm: var(--token-NWylHUlvSpv2);
  --token-c7f_ZdzO1orj: 1.25rem;
  --plasmic-token-font-lg: var(--token-c7f_ZdzO1orj);
  --token-DIGGCkyWJL46: 1.4;
  --plasmic-token-line-height-lg: var(--token-DIGGCkyWJL46);
  --token-juALtTVskdE8: 0.125rem;
  --plasmic-token-size-2: var(--token-juALtTVskdE8);
  --token-BdtS5WTcQHQ9: #2563eb;
  --plasmic-token-brand-brand: var(--token-BdtS5WTcQHQ9);
  --token-eMEB1DC-91Av: #16a34a;
  --plasmic-token-success-success: var(--token-eMEB1DC-91Av);
  --token-jkB2nKe7IJho: #facc15;
  --plasmic-token-warning-warning: var(--token-jkB2nKe7IJho);
  --token-hG9EiXHm9p1Q: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-hG9EiXHm9p1Q);
  --token-_-9KI23YpT-b: 0.375rem;
  --plasmic-token-size-6: var(--token-_-9KI23YpT-b);
  --token-CsM3iW8OpTgs: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-CsM3iW8OpTgs);
  --token-nDM8SIU-p7E_: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-nDM8SIU-p7E_);
  --token-J5co6issvbyB: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-J5co6issvbyB);
  --token-QNk2kN28f1lP: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-QNk2kN28f1lP);
  --token-dbf2uMPbMMUl: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-dbf2uMPbMMUl);
  --token-gLuMCvXFxtHM: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-gLuMCvXFxtHM);
  --token-omgIu_H9kSep: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-omgIu_H9kSep);
  --token-lvxqNhOimXkq: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-lvxqNhOimXkq);
  --token-iWvm4BbLURgN: #86efac;
  --plasmic-token-success-success-border: var(--token-iWvm4BbLURgN);
  --token-xrciW7Rt_EpG: #fde047;
  --plasmic-token-warning-warning-border: var(--token-xrciW7Rt_EpG);
  --token-jjX79g6jbWge: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-jjX79g6jbWge);
  --token-UrFSqFEsTAc-: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-UrFSqFEsTAc-);
  --token-uhrNeqdSHdFZ: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-uhrNeqdSHdFZ);
  --token-A32FTU9CZ7Zk: #00000033;
  --plasmic-token-interaction-pressed: var(--token-A32FTU9CZ7Zk);
  --token-EmUZI1_hU_zS: 0.625rem;
  --plasmic-token-size-10: var(--token-EmUZI1_hU_zS);
  --token-0MEPnaUn7kG8: 0.75rem;
  --plasmic-token-size-12: var(--token-0MEPnaUn7kG8);
  --token-EA5SstjNXN6d: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-EA5SstjNXN6d);
  --token-_PQ1SNlADTzq: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-_PQ1SNlADTzq);
  --token-6lnDPqlMPvZZ: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-6lnDPqlMPvZZ);
  --token-gDxJcB7wyp37: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-gDxJcB7wyp37);
  --token-GvUlmr9UZ2z8: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-GvUlmr9UZ2z8);
  --token-RGvl4LOn-nU2: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-RGvl4LOn-nU2);
  --token-Ha_asNPHb0b3: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-Ha_asNPHb0b3);
  --token-JsDT8ZXkxGQd: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-JsDT8ZXkxGQd);
  --token-J0rwZzOIKYzu: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-J0rwZzOIKYzu);
  --token-ab8OF5CcGrzT: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-ab8OF5CcGrzT);
  --token-IDrOG9h4t56c: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-IDrOG9h4t56c
  );
  --token-fL_mRu4Bd1K7: #faf7f3;
  --plasmic-token-stone-100: var(--token-fL_mRu4Bd1K7);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-C4AONYcJuMq1_font-family: "Inter", sans-serif;
  --mixin-C4AONYcJuMq1_font-size: 16px;
  --mixin-C4AONYcJuMq1_font-weight: 400;
  --mixin-C4AONYcJuMq1_font-style: normal;
  --mixin-C4AONYcJuMq1_color: #535353;
  --mixin-C4AONYcJuMq1_text-align: left;
  --mixin-C4AONYcJuMq1_text-transform: none;
  --mixin-C4AONYcJuMq1_line-height: 1.5;
  --mixin-C4AONYcJuMq1_letter-spacing: normal;
  --mixin-C4AONYcJuMq1_white-space: pre-wrap;
  --mixin-C4AONYcJuMq1_user-select: text;
  --mixin-C4AONYcJuMq1_text-decoration-line: none;
  --mixin-C4AONYcJuMq1_text-overflow: clip;
  --mixin-46eq3bBhIHri_color: #000000;
  --mixin-46eq3bBhIHri_font-size: 24px;
  --mixin-46eq3bBhIHri_font-weight: 600;
  --mixin-46eq3bBhIHri_letter-spacing: -0.5px;
  --mixin-46eq3bBhIHri_line-height: 1.3;
  --mixin-46eq3bBhIHri_white-space: pre-wrap;
  --mixin-b_o7q6y7hRU7_color: #000000;
  --mixin-b_o7q6y7hRU7_font-size: 20px;
  --mixin-b_o7q6y7hRU7_font-weight: 600;
  --mixin-b_o7q6y7hRU7_letter-spacing: -0.3px;
  --mixin-b_o7q6y7hRU7_line-height: 1.5;
  --mixin-b_o7q6y7hRU7_white-space: pre-wrap;
  --mixin-XbtNCthIKDBa_color: #000000;
  --mixin-XbtNCthIKDBa_font-size: 16px;
  --mixin-XbtNCthIKDBa_font-weight: 600;
  --mixin-XbtNCthIKDBa_line-height: 1.5;
  --mixin-XbtNCthIKDBa_white-space: pre-wrap;
  --mixin-9qZ6Fz9wVIls_color: #0070f3;
  --mixin-9qZ6Fz9wVIls_white-space: pre-wrap;
  --mixin-Kk0VFBINeHOI_border-left-color: #dddddd;
  --mixin-Kk0VFBINeHOI_border-left-style: solid;
  --mixin-Kk0VFBINeHOI_border-left-width: 3px;
  --mixin-Kk0VFBINeHOI_color: #888888;
  --mixin-Kk0VFBINeHOI_padding-left: 10px;
  --mixin-Kk0VFBINeHOI_white-space: pre-wrap;
  --mixin-3jszVFZRdVX7_color: #000000;
  --mixin-3jszVFZRdVX7_font-size: 64px;
  --mixin-3jszVFZRdVX7_font-weight: 700;
  --mixin-3jszVFZRdVX7_letter-spacing: -1px;
  --mixin-3jszVFZRdVX7_line-height: 1;
  --mixin-3jszVFZRdVX7_white-space: pre-wrap;
  --mixin-bFxtRgjiIkOe_color: #000000;
  --mixin-bFxtRgjiIkOe_font-size: 48px;
  --mixin-bFxtRgjiIkOe_font-weight: 700;
  --mixin-bFxtRgjiIkOe_line-height: 1.1;
  --mixin-bFxtRgjiIkOe_letter-spacing: -0.5px;
  --mixin-bFxtRgjiIkOe_white-space: pre-wrap;
  --mixin-s2UCzKZtzU2o_color: #000000;
  --mixin-s2UCzKZtzU2o_font-size: 32px;
  --mixin-s2UCzKZtzU2o_font-weight: 600;
  --mixin-s2UCzKZtzU2o_line-height: 1.2;
  --mixin-s2UCzKZtzU2o_white-space: pre-wrap;
  --mixin-AM6p2Qxa199e_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AM6p2Qxa199e_border-bottom-color: #dddddd;
  --mixin-AM6p2Qxa199e_border-bottom-style: solid;
  --mixin-AM6p2Qxa199e_border-bottom-width: 1px;
  --mixin-AM6p2Qxa199e_border-left-color: #dddddd;
  --mixin-AM6p2Qxa199e_border-left-style: solid;
  --mixin-AM6p2Qxa199e_border-left-width: 1px;
  --mixin-AM6p2Qxa199e_border-right-color: #dddddd;
  --mixin-AM6p2Qxa199e_border-right-style: solid;
  --mixin-AM6p2Qxa199e_border-right-width: 1px;
  --mixin-AM6p2Qxa199e_border-top-color: #dddddd;
  --mixin-AM6p2Qxa199e_border-top-style: solid;
  --mixin-AM6p2Qxa199e_border-top-width: 1px;
  --mixin-AM6p2Qxa199e_border-bottom-left-radius: 3px;
  --mixin-AM6p2Qxa199e_border-bottom-right-radius: 3px;
  --mixin-AM6p2Qxa199e_border-top-left-radius: 3px;
  --mixin-AM6p2Qxa199e_border-top-right-radius: 3px;
  --mixin-AM6p2Qxa199e_font-family: "Inconsolata";
  --mixin-AM6p2Qxa199e_padding-bottom: 1px;
  --mixin-AM6p2Qxa199e_padding-left: 4px;
  --mixin-AM6p2Qxa199e_padding-right: 4px;
  --mixin-AM6p2Qxa199e_padding-top: 1px;
  --mixin-AM6p2Qxa199e_white-space: pre-wrap;
  --mixin-UW_-Nj-tU54V_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UW_-Nj-tU54V_border-bottom-color: #dddddd;
  --mixin-UW_-Nj-tU54V_border-bottom-style: solid;
  --mixin-UW_-Nj-tU54V_border-bottom-width: 1px;
  --mixin-UW_-Nj-tU54V_border-left-color: #dddddd;
  --mixin-UW_-Nj-tU54V_border-left-style: solid;
  --mixin-UW_-Nj-tU54V_border-left-width: 1px;
  --mixin-UW_-Nj-tU54V_border-right-color: #dddddd;
  --mixin-UW_-Nj-tU54V_border-right-style: solid;
  --mixin-UW_-Nj-tU54V_border-right-width: 1px;
  --mixin-UW_-Nj-tU54V_border-top-color: #dddddd;
  --mixin-UW_-Nj-tU54V_border-top-style: solid;
  --mixin-UW_-Nj-tU54V_border-top-width: 1px;
  --mixin-UW_-Nj-tU54V_border-bottom-left-radius: 3px;
  --mixin-UW_-Nj-tU54V_border-bottom-right-radius: 3px;
  --mixin-UW_-Nj-tU54V_border-top-left-radius: 3px;
  --mixin-UW_-Nj-tU54V_border-top-right-radius: 3px;
  --mixin-UW_-Nj-tU54V_font-family: "Inconsolata";
  --mixin-UW_-Nj-tU54V_padding-bottom: 3px;
  --mixin-UW_-Nj-tU54V_padding-left: 6px;
  --mixin-UW_-Nj-tU54V_padding-right: 6px;
  --mixin-UW_-Nj-tU54V_padding-top: 3px;
  --mixin-UW_-Nj-tU54V_white-space: pre-wrap;
  --mixin-EFQJqSlCqAOs_display: flex;
  --mixin-EFQJqSlCqAOs_flex-direction: column;
  --mixin-EFQJqSlCqAOs_align-items: stretch;
  --mixin-EFQJqSlCqAOs_justify-content: flex-start;
  --mixin-EFQJqSlCqAOs_list-style-position: outside;
  --mixin-EFQJqSlCqAOs_padding-left: 40px;
  --mixin-EFQJqSlCqAOs_position: relative;
  --mixin-EFQJqSlCqAOs_list-style-type: decimal;
  --mixin-EFQJqSlCqAOs_white-space: pre-wrap;
  --mixin-dXwoOOtlIGEq_display: flex;
  --mixin-dXwoOOtlIGEq_flex-direction: column;
  --mixin-dXwoOOtlIGEq_align-items: stretch;
  --mixin-dXwoOOtlIGEq_justify-content: flex-start;
  --mixin-dXwoOOtlIGEq_list-style-position: outside;
  --mixin-dXwoOOtlIGEq_padding-left: 40px;
  --mixin-dXwoOOtlIGEq_position: relative;
  --mixin-dXwoOOtlIGEq_list-style-type: disc;
  --mixin-dXwoOOtlIGEq_white-space: pre-wrap;
  --mixin-0tFDYzc3RmNt_color: #3291ff;
  --mixin-0tFDYzc3RmNt_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-C4AONYcJuMq1_font-family);
  font-size: var(--mixin-C4AONYcJuMq1_font-size);
  font-weight: var(--mixin-C4AONYcJuMq1_font-weight);
  font-style: var(--mixin-C4AONYcJuMq1_font-style);
  color: var(--mixin-C4AONYcJuMq1_color);
  text-align: var(--mixin-C4AONYcJuMq1_text-align);
  text-transform: var(--mixin-C4AONYcJuMq1_text-transform);
  line-height: var(--mixin-C4AONYcJuMq1_line-height);
  letter-spacing: var(--mixin-C4AONYcJuMq1_letter-spacing);
  white-space: var(--mixin-C4AONYcJuMq1_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-46eq3bBhIHri_color);
  font-size: var(--mixin-46eq3bBhIHri_font-size);
  font-weight: var(--mixin-46eq3bBhIHri_font-weight);
  letter-spacing: var(--mixin-46eq3bBhIHri_letter-spacing);
  line-height: var(--mixin-46eq3bBhIHri_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-b_o7q6y7hRU7_color);
  font-size: var(--mixin-b_o7q6y7hRU7_font-size);
  font-weight: var(--mixin-b_o7q6y7hRU7_font-weight);
  letter-spacing: var(--mixin-b_o7q6y7hRU7_letter-spacing);
  line-height: var(--mixin-b_o7q6y7hRU7_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-XbtNCthIKDBa_color);
  font-size: var(--mixin-XbtNCthIKDBa_font-size);
  font-weight: var(--mixin-XbtNCthIKDBa_font-weight);
  line-height: var(--mixin-XbtNCthIKDBa_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-9qZ6Fz9wVIls_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Kk0VFBINeHOI_color);
  padding-left: var(--mixin-Kk0VFBINeHOI_padding-left);
  border-left: var(--mixin-Kk0VFBINeHOI_border-left-width)
    var(--mixin-Kk0VFBINeHOI_border-left-style)
    var(--mixin-Kk0VFBINeHOI_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-3jszVFZRdVX7_color);
  font-size: var(--mixin-3jszVFZRdVX7_font-size);
  font-weight: var(--mixin-3jszVFZRdVX7_font-weight);
  letter-spacing: var(--mixin-3jszVFZRdVX7_letter-spacing);
  line-height: var(--mixin-3jszVFZRdVX7_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-bFxtRgjiIkOe_color);
  font-size: var(--mixin-bFxtRgjiIkOe_font-size);
  font-weight: var(--mixin-bFxtRgjiIkOe_font-weight);
  line-height: var(--mixin-bFxtRgjiIkOe_line-height);
  letter-spacing: var(--mixin-bFxtRgjiIkOe_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-s2UCzKZtzU2o_color);
  font-size: var(--mixin-s2UCzKZtzU2o_font-size);
  font-weight: var(--mixin-s2UCzKZtzU2o_font-weight);
  line-height: var(--mixin-s2UCzKZtzU2o_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-AM6p2Qxa199e_font-family);
  border-radius: var(--mixin-AM6p2Qxa199e_border-top-left-radius)
    var(--mixin-AM6p2Qxa199e_border-top-right-radius)
    var(--mixin-AM6p2Qxa199e_border-bottom-right-radius)
    var(--mixin-AM6p2Qxa199e_border-bottom-left-radius);
  padding: var(--mixin-AM6p2Qxa199e_padding-top)
    var(--mixin-AM6p2Qxa199e_padding-right)
    var(--mixin-AM6p2Qxa199e_padding-bottom)
    var(--mixin-AM6p2Qxa199e_padding-left);
  border-top: var(--mixin-AM6p2Qxa199e_border-top-width)
    var(--mixin-AM6p2Qxa199e_border-top-style)
    var(--mixin-AM6p2Qxa199e_border-top-color);
  border-right: var(--mixin-AM6p2Qxa199e_border-right-width)
    var(--mixin-AM6p2Qxa199e_border-right-style)
    var(--mixin-AM6p2Qxa199e_border-right-color);
  border-bottom: var(--mixin-AM6p2Qxa199e_border-bottom-width)
    var(--mixin-AM6p2Qxa199e_border-bottom-style)
    var(--mixin-AM6p2Qxa199e_border-bottom-color);
  border-left: var(--mixin-AM6p2Qxa199e_border-left-width)
    var(--mixin-AM6p2Qxa199e_border-left-style)
    var(--mixin-AM6p2Qxa199e_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UW_-Nj-tU54V_font-family);
  border-radius: var(--mixin-UW_-Nj-tU54V_border-top-left-radius)
    var(--mixin-UW_-Nj-tU54V_border-top-right-radius)
    var(--mixin-UW_-Nj-tU54V_border-bottom-right-radius)
    var(--mixin-UW_-Nj-tU54V_border-bottom-left-radius);
  padding: var(--mixin-UW_-Nj-tU54V_padding-top)
    var(--mixin-UW_-Nj-tU54V_padding-right)
    var(--mixin-UW_-Nj-tU54V_padding-bottom)
    var(--mixin-UW_-Nj-tU54V_padding-left);
  border-top: var(--mixin-UW_-Nj-tU54V_border-top-width)
    var(--mixin-UW_-Nj-tU54V_border-top-style)
    var(--mixin-UW_-Nj-tU54V_border-top-color);
  border-right: var(--mixin-UW_-Nj-tU54V_border-right-width)
    var(--mixin-UW_-Nj-tU54V_border-right-style)
    var(--mixin-UW_-Nj-tU54V_border-right-color);
  border-bottom: var(--mixin-UW_-Nj-tU54V_border-bottom-width)
    var(--mixin-UW_-Nj-tU54V_border-bottom-style)
    var(--mixin-UW_-Nj-tU54V_border-bottom-color);
  border-left: var(--mixin-UW_-Nj-tU54V_border-left-width)
    var(--mixin-UW_-Nj-tU54V_border-left-style)
    var(--mixin-UW_-Nj-tU54V_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-EFQJqSlCqAOs_display);
  flex-direction: var(--mixin-EFQJqSlCqAOs_flex-direction);
  align-items: var(--mixin-EFQJqSlCqAOs_align-items);
  justify-content: var(--mixin-EFQJqSlCqAOs_justify-content);
  list-style-position: var(--mixin-EFQJqSlCqAOs_list-style-position);
  padding-left: var(--mixin-EFQJqSlCqAOs_padding-left);
  position: var(--mixin-EFQJqSlCqAOs_position);
  list-style-type: var(--mixin-EFQJqSlCqAOs_list-style-type);
  flex-column-gap: var(--mixin-EFQJqSlCqAOs_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-dXwoOOtlIGEq_display);
  flex-direction: var(--mixin-dXwoOOtlIGEq_flex-direction);
  align-items: var(--mixin-dXwoOOtlIGEq_align-items);
  justify-content: var(--mixin-dXwoOOtlIGEq_justify-content);
  list-style-position: var(--mixin-dXwoOOtlIGEq_list-style-position);
  padding-left: var(--mixin-dXwoOOtlIGEq_padding-left);
  position: var(--mixin-dXwoOOtlIGEq_position);
  list-style-type: var(--mixin-dXwoOOtlIGEq_list-style-type);
  flex-column-gap: var(--mixin-dXwoOOtlIGEq_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-0tFDYzc3RmNt_color);
}
