.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__lhd6G {
  position: relative;
  height: 1em;
}
.svg__r5Vsb {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-l0iSpOhxlbf7);
  display: block;
  color: var(--token-HXsMa3wzw1ML);
  font-family: var(--token-ZVFtDHvz8N_b);
  font-size: var(--token-QUgoBqCTF3ZT);
  line-height: var(--token-AxGvilwbMKE5);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-VgXEx0kjSLoh);
}
.pcls_1KewmKUXfvxb {
  background: var(--token-ZFi15_1l4scI);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__iuGk8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-c7f_ZdzO1orj);
  min-width: 0;
  padding: var(--token-E_JLwjZYr7vG);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-E_JLwjZYr7vG);
  padding-right: var(--token-E_JLwjZYr7vG);
}
.freeBox__auje0 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__auje0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-0MEPnaUn7kG8));
  height: calc(100% + var(--token-0MEPnaUn7kG8));
}
.freeBox__auje0 > :global(.__wab_flex-container) > *,
.freeBox__auje0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__auje0 > :global(.__wab_flex-container) > picture > img,
.freeBox__auje0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-0MEPnaUn7kG8);
}
.text__hiKW {
  position: relative;
}
.freeBox__xcbRi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-E_JLwjZYr7vG);
}
.svg__vhvtI {
  position: relative;
  height: 1em;
}
.text__tcfgF {
  padding-left: 0px;
}
.svg__bjvGk {
  position: relative;
  height: 1em;
}
