.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-fL_mRu4Bd1K7);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.headerSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.headerSection > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .headerSection > * {
    grid-column: 4;
  }
}
.freeBox__wrbg8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 21px;
  min-width: 0;
  padding: 8px;
}
.freeBox__wrbg8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wrbg8 > :global(.__wab_flex-container) > *,
.freeBox__wrbg8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wrbg8 > :global(.__wab_flex-container) > picture > img,
.freeBox__wrbg8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .freeBox__wrbg8 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 31px;
  }
}
@media (min-width: 768px) {
  .freeBox__wrbg8 > :global(.__wab_flex-container) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 56px);
    width: calc(100% + 56px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__wrbg8 > :global(.__wab_flex-container) > *,
  .freeBox__wrbg8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wrbg8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wrbg8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 56px;
    margin-top: 0px;
  }
}
.img__okmBy {
  object-fit: cover;
  max-width: 100%;
  width: 82px;
}
.img__okmBy > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__okmBy {
    width: 152px;
    flex-shrink: 0;
  }
}
.text__r6Ms5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(-30px) translateY(0px) translateZ(0px);
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text__r6Ms5 {
    transform: none;
  }
}
.h3__s8CyR {
  font-family: "Fraunces", serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-FY8xQgIqhrmL);
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__agGoN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 768px) {
  .freeBox__agGoN {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__ewVxr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 768px) {
  .freeBox__ewVxr {
    align-items: center;
    justify-content: flex-start;
    width: auto;
  }
}
.h3__yB37N {
  text-align: center;
  transform: translateX(20px) translateY(0px) translateZ(0px);
  font-family: "Fraunces", serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-FY8xQgIqhrmL);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h1 {
  font-family: "Fraunces", serif;
  font-size: 120px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-FY8xQgIqhrmL);
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 275px;
  }
}
.freeBox__tpE3K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 310px;
  margin-top: 4px;
}
.freeBox__tpE3K > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tpE3K > :global(.__wab_flex-container) > *,
.freeBox__tpE3K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tpE3K > :global(.__wab_flex-container) > picture > img,
.freeBox__tpE3K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2YIc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 768px) {
  .text___2YIc {
    text-align: left;
  }
}
.text__zm90M {
  position: relative;
  height: auto;
  max-width: 100%;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .text__zm90M {
    text-align: left;
  }
}
.link___5Zlyj {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-aRsrMLdPve6a);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__sARtq {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-aRsrMLdPve6a);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___2Cn6U {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-aRsrMLdPve6a);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .button:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.svg___8PsdM {
  position: relative;
  height: 1em;
}
.text__dGq2T {
  white-space: pre;
  color: var(--token-OuNVKYUcT0MY);
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yKiYr {
  position: relative;
  height: 1em;
}
.img__nIRsV {
  object-fit: cover;
  max-width: 100%;
  width: 239px;
}
.img__nIRsV > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__nIRsV {
    width: 398px;
    flex-shrink: 0;
  }
}
.aboutMeSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.aboutMeSection > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .aboutMeSection > * {
    grid-column: 4;
  }
}
.freeBox__ekNw6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ekNw6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 768px) {
  .freeBox__ekNw6 {
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
@media (min-width: 768px) {
  .freeBox__ekNw6 > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 75px);
    width: calc(100% + 75px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__ekNw6 > :global(.__wab_flex-container) > *,
  .freeBox__ekNw6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ekNw6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ekNw6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 75px;
    margin-top: 0px;
  }
}
.img___3Ol6L {
  object-fit: cover;
  max-width: 559px;
}
.img___3Ol6L > picture > img {
  object-fit: cover;
}
.freeBox___6VpK3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  min-width: 0;
}
@media (min-width: 768px) {
  .freeBox___6VpK3 {
    max-width: 130%;
    margin-top: calc(50px + 0px) !important;
  }
}
.freeBox__pAg8Q {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pAg8Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__pAg8Q > :global(.__wab_flex-container) > *,
.freeBox__pAg8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pAg8Q > :global(.__wab_flex-container) > picture > img,
.freeBox__pAg8Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
@media (min-width: 768px) {
  .freeBox__pAg8Q {
    transform: none;
    position: absolute;
    left: -229px;
    top: -75px;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .freeBox__pAg8Q > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__pAg8Q > :global(.__wab_flex-container) > *,
  .freeBox__pAg8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pAg8Q > :global(.__wab_flex-container) > picture > img,
  .freeBox__pAg8Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.text___1ApTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 768px) {
  .text___1ApTq {
    width: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }
}
.h4 {
  width: auto;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-FY8xQgIqhrmL);
  text-align: left;
  text-transform: none;
  line-height: 44px;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .h4 {
    width: 457px;
    font-size: 76px;
    max-width: 450px;
  }
}
.svg {
  object-fit: cover;
  max-width: 50px;
  width: 100%;
  height: 42px;
  min-width: 0;
}
@media (min-width: 768px) {
  .svg {
    width: auto;
    max-width: 96px;
    height: 70px;
    flex-shrink: 1;
  }
}
.text__fY8QO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bZeWi1PxbxAK);
  margin-top: 24px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Fraunces", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 768px) {
  .text__fY8QO {
    font-size: 24px;
    line-height: 32px;
  }
}
.text___8ADKo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.ul___4Eiz8 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .ul___4Eiz8 {
    font-size: 24px;
    line-height: 32px;
  }
}
.li__z2Cdn {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__yxGVr {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__cdzBj {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__d86Ak {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li___7DTs6 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__rj3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Fraunces", serif;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 768px) {
  .text__rj3O {
    font-size: 24px;
    line-height: 32px;
  }
}
.portfolioSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.portfolioSection > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .portfolioSection {
    z-index: 33;
  }
}
@media (min-width: 768px) {
  .portfolioSection > * {
    grid-column: 4;
  }
}
.text__wfw4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.h6 {
  margin-top: 83px;
  font-family: "Fraunces", serif;
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-FY8xQgIqhrmL);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__gzkOn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__brndw {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-FY8xQgIqhrmL);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 768px) {
  .h3__brndw {
    transform: translateX(80px) translateY(0px) translateZ(0px);
  }
}
.freeBox__zcNq5 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 72px;
  margin-top: 40px;
  grid-column-gap: 113px;
  margin-bottom: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 768px) {
  .freeBox__zcNq5 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    z-index: -3;
    margin: -52px 0px 171px;
  }
}
.libertineBlendsProject {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.img__nWh6E {
  object-fit: cover;
  max-width: 100%;
}
.img__nWh6E > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__nWh6E {
    margin: 0px 0px 20px;
  }
}
.freeBox__kBwyl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cmr7P {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text__lSzin {
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__flAd {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__rOGr9 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.li__hbZDo {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__qn6K1 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__qYqzs {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__sFk6 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.libertineCocktailBarProject {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .libertineCocktailBarProject {
    transform: translateX(0px) translateY(100px) translateZ(0px);
  }
}
.img__cd0Z0 {
  object-fit: cover;
  max-width: 100%;
}
.img__cd0Z0 > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__cd0Z0 {
    margin: 0px 0px 20px;
  }
}
.freeBox___8AWe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8AWe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8AWe > :global(.__wab_flex-container) > *,
.freeBox___8AWe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8AWe > :global(.__wab_flex-container) > picture > img,
.freeBox___8AWe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__xXDx0 {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text__j7X7F {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text___8ShBo {
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__jwi92 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__kqpDx {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.li__rvxFh {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__xh1T9 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__onuck {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li___59RLr {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.tiberiProject {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.img__gsWX {
  object-fit: cover;
  max-width: 100%;
}
.img__gsWX > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__gsWX {
    margin: 0px 0px 20px;
  }
}
.freeBox__ief9L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ief9L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ief9L > :global(.__wab_flex-container) > *,
.freeBox__ief9L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ief9L > :global(.__wab_flex-container) > picture > img,
.freeBox__ief9L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__saGc1 {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text___4VU0T {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text__sgFWe {
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__lPlHq {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__ghaym {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.li__mgloE {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__zXhEw {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__t1KRh {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.whiskeriaProject {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .whiskeriaProject {
    transform: translateX(0px) translateY(100px) translateZ(0px);
  }
}
.img__qCRw0 {
  object-fit: cover;
  max-width: 100%;
}
.img__qCRw0 > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__qCRw0 {
    margin: 0px 0px 20px;
  }
}
.freeBox___6RlZy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6RlZy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___6RlZy > :global(.__wab_flex-container) > *,
.freeBox___6RlZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6RlZy > :global(.__wab_flex-container) > picture > img,
.freeBox___6RlZy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__xy0XH {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text__mtSKl {
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__tdQf {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__iJcOb {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.li__mcRfm {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__eBdc {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li___1Iwwe {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.twoSchmukcs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.img__oj81H {
  object-fit: cover;
  max-width: 100%;
}
.img__oj81H > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__oj81H {
    margin: 0px 0px 20px;
  }
}
.freeBox__qdgKm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qdgKm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qdgKm > :global(.__wab_flex-container) > *,
.freeBox__qdgKm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qdgKm > :global(.__wab_flex-container) > picture > img,
.freeBox__qdgKm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__dwEa {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text__tNpZ1 {
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4Re97 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__mqYv {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.li__tzOMj {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li___76GMo {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__a67Tl {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.creativeColabsProject {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .creativeColabsProject {
    transform: translateX(0px) translateY(100px) translateZ(0px);
  }
}
.img__eCpI0 {
  object-fit: cover;
  max-width: 100%;
}
.img__eCpI0 > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__eCpI0 {
    margin: 0px 0px 20px;
  }
}
.freeBox__fbXj3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fbXj3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fbXj3 > :global(.__wab_flex-container) > *,
.freeBox__fbXj3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbXj3 > :global(.__wab_flex-container) > picture > img,
.freeBox__fbXj3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___2C8BR {
  height: auto;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 100px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: solid;
}
.text__ot37W {
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___0GEbh {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul___3Hz84 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.li__ftRwZ {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__aBeL1 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__kv4X {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__xEj6W {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-bZeWi1PxbxAK);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
