.root:global(.__wab_instance) {
  position: relative;
  background: none;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Oq8Ed-j2xsW6);
  font-family: "Fraunces", serif;
  font-size: var(--token-1c_6RWnKuAik);
  line-height: var(--token-AxGvilwbMKE5);
  outline-style: none;
  text-decoration-line: none;
  color: var(--token-OuNVKYUcT0MY);
  font-weight: 400;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--token-ARmtdX03Un6F);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-juALtTVskdE8);
  outline-offset: 1px;
  outline-color: var(--token-BdtS5WTcQHQ9);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-dKXJHRqEyb2q);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-_eRu_ROMc9uy);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-eMEB1DC-91Av);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-jkB2nKe7IJho);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-REpzZuENyhBA);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-NWylHUlvSpv2);
  font-size: var(--token-KVk6g1ansn3c);
  column-gap: var(--token-juALtTVskdE8);
  row-gap: 0px;
  border-radius: var(--token-jE1-oBJ6oaB3);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-KVk6g1ansn3c);
  line-height: var(--token-NWylHUlvSpv2);
  column-gap: var(--token-jE1-oBJ6oaB3);
  row-gap: 0px;
  border-radius: var(--token-jE1-oBJ6oaB3);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-c7f_ZdzO1orj);
  line-height: var(--token-DIGGCkyWJL46);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-c7f_ZdzO1orj);
  line-height: var(--token-DIGGCkyWJL46);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-hG9EiXHm9p1Q);
  border-radius: var(--token-_-9KI23YpT-b);
}
.softBackgroundcolor_neutral {
  background: var(--token-CsM3iW8OpTgs);
}
.softBackgroundcolor_muted {
  background: var(--token-nDM8SIU-p7E_);
}
.softBackgroundcolor_success {
  background: var(--token-J5co6issvbyB);
}
.softBackgroundcolor_warning {
  background: var(--token-QNk2kN28f1lP);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-dbf2uMPbMMUl);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-_-9KI23YpT-b);
  border: 0px solid var(--token-gLuMCvXFxtHM);
}
.bordercolor_neutral {
  border-color: var(--token-omgIu_H9kSep);
}
.bordercolor_muted {
  border-color: var(--token-lvxqNhOimXkq);
}
.bordercolor_success {
  border-color: var(--token-iWvm4BbLURgN);
}
.bordercolor_warning {
  border-color: var(--token-xrciW7Rt_EpG);
}
.bordercolor_errorDestructive {
  border-color: var(--token-jjX79g6jbWge);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-_-9KI23YpT-b);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-UrFSqFEsTAc-);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-uhrNeqdSHdFZ);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-A32FTU9CZ7Zk);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffecttype_icon {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__miCc6 {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--token-bZeWi1PxbxAK);
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 20px 16px;
}
.freeBox__miCc6 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-_-9KI23YpT-b));
  width: calc(100% + var(--token-_-9KI23YpT-b));
}
.freeBox__miCc6 > :global(.__wab_flex-container) > *,
.freeBox__miCc6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__miCc6 > :global(.__wab_flex-container) > picture > img,
.freeBox__miCc6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_-9KI23YpT-b);
}
.freeBoxtype_icon__miCc6PhiwV {
  background: none;
  padding: 0px;
}
.freeBoxsize_extraSmall__miCc6QbgBl {
  padding: var(--token-jE1-oBJ6oaB3) var(--token-_-9KI23YpT-b);
}
.freeBoxsize_small__miCc62Io0 {
  padding: var(--token-_-9KI23YpT-b) var(--token-Oq8Ed-j2xsW6);
}
.freeBoxsize_large__miCc63OA0 {
  padding-top: var(--token-jE1-oBJ6oaB3);
  padding-bottom: var(--token-jE1-oBJ6oaB3);
}
.freeBoxsize_extraLarge__miCc6Ra7Qd {
  padding-left: var(--token-0MEPnaUn7kG8);
  padding-right: var(--token-0MEPnaUn7kG8);
}
.freeBoxroundedFull__miCc68X0T {
  padding-right: var(--token-0MEPnaUn7kG8);
  padding-left: var(--token-0MEPnaUn7kG8);
}
.freeBox___7EA1 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___7EA1Pprv6 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-fkmS_La-z2xp);
}
.slotTargetStartcolor_neutral {
  color: var(--token-EA5SstjNXN6d);
}
.slotTargetStartcolor_muted {
  color: var(--token-_PQ1SNlADTzq);
}
.slotTargetStartcolor_success {
  color: var(--token-GvUlmr9UZ2z8);
}
.slotTargetStartcolor_warning {
  color: var(--token-gDxJcB7wyp37);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-RGvl4LOn-nU2);
}
.slotTargetStarttype_soft {
  color: var(--token-6lnDPqlMPvZZ);
}
.slotTargetStarttype_bordered {
  color: var(--token-6lnDPqlMPvZZ);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-KVk6g1ansn3c);
}
.slotTargetStartsize_small {
  font-size: var(--token-KVk6g1ansn3c);
}
.slotTargetStartsize_large {
  font-size: var(--token-c7f_ZdzO1orj);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-c7f_ZdzO1orj);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-Ha_asNPHb0b3);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-Ha_asNPHb0b3);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-JsDT8ZXkxGQd);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-JsDT8ZXkxGQd);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-J0rwZzOIKYzu);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-J0rwZzOIKYzu);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-ab8OF5CcGrzT);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-ab8OF5CcGrzT);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-IDrOG9h4t56c);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-IDrOG9h4t56c);
}
.svg__acpE3 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-fkmS_La-z2xp);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-EA5SstjNXN6d);
}
.slotTargetLabelcolor_muted {
  color: var(--token-_PQ1SNlADTzq);
}
.slotTargetLabelcolor_success {
  color: var(--token-GvUlmr9UZ2z8);
}
.slotTargetLabelcolor_warning {
  color: var(--token-gDxJcB7wyp37);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-RGvl4LOn-nU2);
}
.slotTargetLabeltype_soft {
  color: var(--token-6lnDPqlMPvZZ);
}
.slotTargetLabeltype_bordered {
  color: var(--token-6lnDPqlMPvZZ);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-Ha_asNPHb0b3);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-JsDT8ZXkxGQd);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-Ha_asNPHb0b3);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-J0rwZzOIKYzu);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-JsDT8ZXkxGQd);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-ab8OF5CcGrzT);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-J0rwZzOIKYzu);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-IDrOG9h4t56c);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-ab8OF5CcGrzT);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-IDrOG9h4t56c);
}
.text__eOc19 {
  white-space: pre;
  color: var(--token-OpsAqN-5bUxj);
}
.freeBox__yqpZk {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__yqpZkY4GVc {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-fkmS_La-z2xp);
}
.slotTargetEndcolor_neutral {
  color: var(--token-EA5SstjNXN6d);
}
.slotTargetEndcolor_muted {
  color: var(--token-_PQ1SNlADTzq);
}
.slotTargetEndcolor_success {
  color: var(--token-GvUlmr9UZ2z8);
}
.slotTargetEndcolor_warning {
  color: var(--token-gDxJcB7wyp37);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-RGvl4LOn-nU2);
}
.slotTargetEndtype_soft {
  color: var(--token-6lnDPqlMPvZZ);
}
.slotTargetEndtype_bordered {
  color: var(--token-6lnDPqlMPvZZ);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-KVk6g1ansn3c);
}
.slotTargetEndsize_small {
  font-size: var(--token-KVk6g1ansn3c);
}
.slotTargetEndsize_large {
  font-size: var(--token-c7f_ZdzO1orj);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-c7f_ZdzO1orj);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-Ha_asNPHb0b3);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-Ha_asNPHb0b3);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-JsDT8ZXkxGQd);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-JsDT8ZXkxGQd);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-J0rwZzOIKYzu);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-J0rwZzOIKYzu);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-ab8OF5CcGrzT);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-ab8OF5CcGrzT);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-IDrOG9h4t56c);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-IDrOG9h4t56c);
}
.svg__qSZqD {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
